[submodule "gitcallog"]
	path = gitcallog
	url = https://github.com/vinceflores/gitcallog.git
[submodule "term-kanban"]
	path = term-kanban
	url = https://github.com/vinceflores/term-kan.git
[submodule "simple-chat-go"]
	path = simple-chat-go
	url = https://github.com/vinceflores/simple-chat-go.git
[submodule "filtering-example"]
	path = filtering-example
	url = https://github.com/vinceflores/filtering-example.git
[submodule "chess"]
	path = chess
	url = https://github.com/vinceflores/chess.git
